<nav class="navbar">
    <div class="logo">
        <a href="#">Jad<span>.</span></a>
    </div>

    <div class="hamburger" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <ul class="nav-links" [class.open]="menuOpen">
        <li><a routerLink="/" fragment="home" (click)="closeMenu()">Home</a></li>
        <li><a routerLink="/" fragment="services" (click)="closeMenu()">Services</a></li>
        <!-- <li><a routerLink="/" fragment="work" (click)="closeMenu()">Work</a></li> -->
        <li><a routerLink="/" fragment="about" (click)="closeMenu()">About</a></li>
        <li><a routerLink="/" fragment="contact" (click)="closeMenu()">Contact</a></li>
    </ul>


    <div class="spacer"></div>
</nav>